<!DOCTYPE html>
<html>
<head>
<title>The Most Fashionable Colour at Work Club is: {{current_colour.name}} (#{{ current_colour.hex_value }})</title>

<style type="text/css">
    body, #content {
        color: #{{ current_colour.hex_value }};
        background-color: #{{ current_colour.hex_value }}; 
    }

    #content {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        width: 35%;
        height: 60px;
        text-align: center;

        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 120%;
    }
</style>
</head>
<body>
    <div id="main">
    <div id="content">
        {{current_colour.name}}
    </div>
</div>
</div>

<script>
(function() {
    // http://stackoverflow.com/questions/9600295/automatically-change-text-color-to-assure-readability
    function invertColor(hexTripletColor) {
        var color = hexTripletColor;
        color = color.substring(1);           // remove #
        color = parseInt(color, 16);          // convert to integer
        color = 0xFFFFFF ^ color;             // invert three bytes
        color = color.toString(16);           // convert to hex
        color = ("000000" + color).slice(-6); // pad with leading zeros
        color = "#" + color;                  // prepend #
        return color;
    }
    // Make the highlight 
    var colour = '#{{ current_colour.hex_value }}';
    var ss = document.styleSheets[0];
    var rule = '{color: ' +
                  colour + '; background: ' + 
                  invertColor(colour) + ';}';

    ss.insertRule('#content::selection ' + rule, 0);
})();

</script>
</body>
</html>
